name: Update Todoist Stats
on:
  schedule:
    - cron: "59 14 * * *"  # Daily at midnight UTC
  workflow_dispatch:

jobs:
  update-stats:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: b00y0h/todoist-readme-v2@v2
        with:
          TODOIST_API_KEY: ${{ secrets.TODOIST_API_KEY }}
          PREMIUM: "true"  # Set to "false" for free users
